In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
test_df = pd.read_csv('data/indiv22/by_date/itcont_2022_20210221_20210408.txt'
, delimiter='|',
header=None,
names = ['cmte_id', 'amndt_ind','rpt_tp','transaction_pgi','image_num','transaction_tp','entity_tp','name','city','state','zip','employer','occupation','transaction_dt','transaction_amt','other_id','tran_id','file_num','memo_cd','memo_text','sub_id']
)

C:\Users\theoc\AppData\Local\Temp\ipykernel_20132\2472336737.py:1: DtypeWarning: Columns (10,18) have mixed types. Specify dtype option on import or set low_memory=False.
  test_df = pd.read_csv('data/indiv22/by_date/itcont_2022_20210221_20210408.txt'

In [3]:
test_df

,cmte_id,amndt_ind,rpt_tp,transaction_pgi,image_num,transaction_tp,entity_tp,name,city,state,...,employer,occupation,transaction_dt,transaction_amt,other_id,tran_id,file_num,memo_cd,memo_text,sub_id
0,C00765347,N,12S,S2021,202103089440358020,15,IND,"AVIEZER, TSAFRIR",CALABASAS,CA,...,METRO DEVELOPMENT HOMES,REAL ESTATE DEVELOPMENT,2212021,250,NaN,SA11AI.8376,1503295,NaN,NaN,4031120211239315803
1,C00765347,N,12S,S2021,202103089440358023,15,IND,"GRESSETT, JAMES",AUSTIN,TX,...,SELF,BUSINESS,2212021,100,NaN,SA11AI.8398,1503295,NaN,NaN,4031120211239315811
2,C00765347,N,12S,S2021,202103089440358024,15,IND,"KARR, GENTRY",CLOVISCLOVIS,CA,...,JACOBS,CONSTRUCTION MANAGER,2212021,500,NaN,SA11AI.8378,1503295,NaN,NaN,4031120211239315815
3,C00113241,N,M3,P,202103099440359701,15,IND,"EVANS, BRIAN",INDIANAPOLIS,IN,...,"CITYSCAPE RESIDENTIAL, LLC",DEVELOPER,2212021,500,NaN,ACBDAE697D75F4E1DBEB,1503437,NaN,NaN,4030920211239276139
4,C00279802,N,M3,P,202103069440285367,15,IND,"PEARSON, KIRK D.",LAKE POINT,UT,...,SELF,CONTRACTOR,2212021,400,NaN,SA11AI.87150,1503065,NaN,NaN,4030920211226959451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1986924,C00694323,A,MY,NaN,202112209471030403,15E,IND,"EVANS, REN",SHEPHERDSVILLE,KY,...,RETIRED,RETIRED,4082021,5,C00027466,A821D7DEB6933464F948,1552533,NaN,NaN,4012620221393167014
1986925,C00409581,A,Q2,P2022,202211169546805134,15,IND,"DURST, JAMES",BOISE,ID,...,RETIRED,RETIRED,4082021,25,NaN,AC515FA82B85D4749BE3,1661707,NaN,NaN,4120120221632319070
1986926,C00409581,A,Q2,P2022,202211169546805158,15,IND,"POWELL, JAMES L",SAN ANGELO,TX,...,SELF,RANCHER,4082021,100,NaN,A035ED1D889F74B18819,1661707,NaN,NaN,4120120221632319144
1986927,C00694323,A,MY,NaN,202112209471035246,15E,IND,"THOMPSON, MARK",GRAYSLAKE,IL,...,ABBVIE,IT MANAGEMENT,4082021,16,C00193342,A81F9AFF12D1E4727B78,1552533,NaN,NaN,4012620221393179287
1986928,C00694323,A,MY,NaN,202112209471029625,15E,IND,"LOMBARDO, DOMINIC",MORTON,PA,...,BURLINGTON,CASHIER,4082021,30,C00027466,AFCF8746D4EF34DBEA8A,1552533,NaN,NaN,4012620221396310306

In [4]:
test_df.nlargest(n=10,columns=['transaction_amt'])

,cmte_id,amndt_ind,rpt_tp,transaction_pgi,image_num,transaction_tp,entity_tp,name,city,state,...,employer,occupation,transaction_dt,transaction_amt,other_id,tran_id,file_num,memo_cd,memo_text,sub_id
790236,C00770495,N,MY,P,202107309452400203,10,IND,"THIEL, PETER",WEST HOLLYWOOD,CA,...,THIEL CAPITAL LLC,PRESIDENT,3122021,10000000,NaN,A073FE9702C494C39A40,1532515,NaN,NaN,4080520211324685307
1212033,C00772020,N,MY,P,202107069450985452,10,IND,"YASS, JEFF",BALA,PA,...,SIG,MANAGING DIRECTOR,3232021,5000000,NaN,SA11AI.4099,1522880,NaN,NaN,4070720211320294937
1948928,C00688655,N,M5,P,202105209446993207,10,IND,"BALLMER, CONNIE",BELLEVUE,WA,...,BALLMER GROUP,CO-FOUNDER AND CEO,4082021,3500000,NaN,37278,1517114,NaN,NaN,4052520211297179507
944268,C00683649,N,MY,P,202107169451677284,10,IND,"JURVETSON, KARLA",LOS ALTOS,CA,...,SELF EMPLOYED,PHYSICIAN,3162021,1000000,NaN,5275537,1528255,NaN,NaN,4072020211321172538
1042301,C00760116,A,MY,P,202201319485798859,10,ORG,WORKING FAMILIES PARTY INDENPENDANT EXPENDATUR...,BROOKLYN,NY,...,NaN,NaN,3182021,1000000,NaN,SA11C.4616,1565118,NaN,NaN,4020120221403795656
1611538,C00504530,N,MY,P,202107319465467590,10,ORG,OTA HOLDINGS INC.,HOUSTON,TX,...,NaN,NaN,3312021,1000000,NaN,SA17.137940,1533270,NaN,NON CONTRIBUTION ACCOUNT,4081320211326196585
1921304,C00559906,N,Q2,P,202107159451379725,10,COM,RESTORATION ACTION,DOWNERS GROVE,IL,...,NaN,NaN,4072021,1000000,NaN,SA11C.5862,1526880,NaN,NaN,4071620211320835133
69413,C00766782,N,Q1,P,202104159443513494,15,IND,"PALMER, GEOFFREY H.",BEVERLY HILLS,CA,...,GH PALMER ASSOCIATES,PARTNER,2232021,771900,NaN,AC0C1ACDEDD034BC1B7D,1511718,NaN,NaN,4042120211278490241
977267,C00766782,N,Q1,P,202104159443513480,15,IND,"MARCUS, BERNARD",ATLANTA,GA,...,THE MARCUS FOUNDATION,PHILANTHROPIST,3172021,771900,NaN,AFFD316D9AFEA4332B0C,1511718,NaN,NaN,4042120211278490199
977268,C00766782,N,Q1,P,202104159443513481,15,IND,"MARCUS, BILLI",ATLANTA,GA,...,HOMEMAKER,HOMEMAKER,3172021,771900,NaN,A020226A9D3994B0588C,1511718,NaN,NaN,4042120211278490200